/* Universal selector reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* CSS Variables */
:root {
   --primary-color: #0a4d68;
   --accent1-color: #088395;
   --accent2-color: #05bfdb;
   --heading-font: "Georgia", serif;
   --body-font: "Arial", sans-serif;
}

/* Body text styles */
body {
    font-family: var(--body-font);
    color: #000 
} 


/* Limit page width and center content */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

/* Headings */
h1, h2 {
    font-family: var(--heading-font);
    color: #000; 
}

/* Basic spacing for common elements */
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

/* Social media links: remove underline */
.socialmedia a {
    text-decoration: none;
}

/* Social media hover effect using --accent2-color */
.socialmedia a:hover img {
    filter: brightness(0) saturate(100%) invert(33%) sepia(81%) saturate(3780%) hue-rotate(170deg) brightness(95%) contrast(92%);
}

/* Hero div */
.hero {
    position: relative;
}

/* Hero background image */
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Hero heading */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

/* Hero article */
.hero article {
    position: absolute;
    bottom: 20px;
    left: 16px;
    background-color: var(--accent2-color); /* semi-transparent */
    color: #fff;
    padding: 8px;
}

/* Hero article image */
.hero article img {
    float: right;
    width: 125px;
    margin-left: 8px;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 16px;
}
