main{
    width: 840px;
}

aside{
    margin: 10 0;
    width: 10rem;
    border: 2px;
    padding: 10 0;
    background-color: burlywood;
}

aside img{
    width: 200px;
    height: auto;
}

p{
    padding: 0;
}

main img{
    width: 150px;
    height: auto;
}

footer{
    margin-top: 15px;
    border: 1px solid #000;
    text-align: center;
}