nav {
    background-color: burlywood;
    padding: 10px;
}

nav a {
    color: black;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
}

main {
    width: 840px;
    max-width: 100%;
}

aside {
    margin: 10px 0;
    width: 10rem;
    border: 2px solid #000;
    padding: 10px 0;
    background-color: burlywood;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

p {
    padding: 0;
}

h1 {
    color: darkblue;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
