body{
    font-family: Arial, sans-serif;
}


header{
    background-color: #333333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

main{
    width: 400px;
    margin: 0 auto;

}


h1 {
    margin: 10px;
    text-align: center;
}

h2{
    border-bottom: 1px solid #222;
}

img{
    width: 100%;
    height: auto;
}

section{
    margin: 20px 0;
    border: 1px, solid rgb(0,0,0 / 10%);
    padding: 10px 0;
    background-color: #abe;
}

section p{
    margin: 10px;
}


footer{
    font-size: .9rem;
    
}